<div class="row">
  <div class="col">
    <nav aria-label="Page navigation example">
      <ul class="pagination justify-content-center">
        {{ if .NextInSection }}
        <li class="page-item"><a class="page-link" href="{{ .NextInSection.Permalink }}"><< {{ .NextInSection.Title }}</a></li>
        {{ end }}
        {{ if .PrevInSection }}
        <li class="page-item"><a class="page-link" href="{{ .PrevInSection.Permalink }}">{{ .PrevInSection.Title }} >></a></li>
        {{ end }}
      </ul>
    </nav>
  </div>
</div>

